.leaflet-container {
  height: 40vh;
  width: 100%;
}

.leaflet-div-icon, .mapbox-marker {
  background-color: transparent;
  border: none;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    span {
      position: absolute;
    }
  }
}

.leaflet-popup-content p {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 13px;
}
